body {
    margin: 0px auto;
    padding: 0px;
    width: 1024px;
    height: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#contentBox {
    margin: 10px 0px;
    width: 1022px;
    height: 800px;
    overflow-y: scroll;
    border: 1px solid #000000;
}

.content {
    margin: 10px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.content li[class^="list_"] {
    margin: 0px;
    padding: 10px 0px;
    display: block;
    width: 985px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.content li[class^="list_"]:hover {
    cursor : pointer;
    background: rgba(0,0,0,0.1);
}

.content .ellipsis {
    white-space : nowrap;
    text-overflow : ellipsis;
    overflow : hidden;
}

.content .detailBox {
    width: 985px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.content li[class^="detail_"] {
    margin: 10px;
    min-height: 300px;
    max-height: 500px;
    overflow-y : scroll;
    font-weight: normal;
    background-color: rgb(255,255,255);
}